{% extends "layout/base.html" %}

{% block content %}
  {% include "partials/fader.html" %}

  <div class="app" id="app">

    {% set sidebar_slot_expaned %}
      <hr>

      <!-- Section buttons -->
      <section class="section">
        <div class="buttons">
          {% raw %}
            <button class="button is-fullwidth" :class="{ 'is-primary': selected === index }"
                    v-for="(theComponent, index) in components" :key="'component-' + index"
                    @click="selected = index" :title="theComponent.description">
              <span class="icon is-small"><i :class="theComponent.icon"></i></span>
              <span>{{ theComponent.name }}</span>
            </button>
          {% endraw %}
        </div>
      </section>

      <hr>

      <!-- Section actions (if any) -->
      <section class="section" v-if="showActions()">
        <div class="buttons">
          {% raw %}
            <button class="button is-fullwidth is-info"
                    v-for="(action, index) in theActions" :key="'action-' + index"
                    :title="action.description" @click="handleAction(index)">
              <span class="icon is-small">
                <i :class="action.icon"></i>
              </span>
              <span>{{ action.name }}</span>
            </button>
          {% endraw %}
        </div>
      </section>
    {% endset %}
    {% set sidebar_slot_collapsed %}
      <hr style="width: 100%;">

      {% raw %}
        <button class="button is-primary mb-3" :class="{ 'is-light': selected !== index }"
                v-for="(theComponent, index) in components" :key="'component-' + index"
                @click="selected = index" :title="theComponent.name" v-if="theComponent">
          <span class="icon is-small">
            <i :class="theComponent.icon"></i>
          </span>
        </button>
      {% endraw %}

      <hr style="width: 100%;">

      {% raw %}
        <button class="button is-info mb-3"
                v-for="(action, index) in theActions" :key="'action-' + index"
                :title="action.name" @click="handleAction(index)" v-if="theComponent">
          <span class="icon is-small">
            <i :class="action.icon"></i>
          </span>
        </button>
      {% endraw %}
    {% endset %}
    {% include "partials/sidebar.html" %}

    <div class="content">
      <div class="columns">
        <div class="column is-8-fullhd is-offset-2-fullhd is-10-desktop is-offset-1-desktop is-12-tablet is-offset-0-tablet">
          <div class="card">

            <header class="card-header">
              <p class="card-header-title">
                {% raw %}
                  <span class="subtitle is-6">Administration | {{ theComponent.name }}</span>
                {% endraw %}
              </p>
            </header>

            <div class="card-content">
              <keep-alive>
                <component :is="theComponent.component" ref="theComponent"></component>
              </keep-alive>
            </div> <!-- end .card-content -->

          </div> <!-- end .card -->
        </div> <!-- end .column -->
      </div> <!-- end .columns -->
    </div> <!-- end .content -->

  </div> <!-- end #app -->
{% endblock %}

{% block js %}
  {% include "partials/vendor_scripts.html" %}
  <script src="{{ path('js/ui.js') }}"></script>
  <script src="{{ path('js/logic_administration.js') }}"></script>
  <script src="{{ path('js/sidebar.js') }}"></script>
{% endblock %}
