{% extends "layout/base.html" %}

{% block content %}
  {% include "partials/fader.html" %}

  <div class="app" id="app">

    {% set sidebar_slot_expaned %}
      <hr>
      <file-list @ready="ready()" :socket="socket" ref="fileList"></file-list>
    {% endset %}
    {% include "partials/sidebar.html" %}

    <!-- Log content -->
    <log-viewer ref="logViewer" :adapter="theAdapter" :entry="theEntry"></log-viewer>

  </div> <!-- end #app -->
{% endblock %}

{% block js %}
  {% include "partials/vendor_scripts.html" %}
  <script src="{{ path('js/logic.js') }}"></script>
  <script src="{{ path('js/sidebar.js') }}"></script>
{% endblock %}
