extends layout.pug

block content
  // overlay
  div.flex#fader
    p.title.is-2.has-text-white Loading...

  // container
  div#app

    //sidebar
    div#sidebar

      // header
      section.section
        .container
          include partials/nav

      hr.bottom

      file-list(@ready="ready()" :socket="socket" ref="fileList")

    // content
    log-viewer(ref="logViewer" :adapter="theAdapter" :entry="theEntry")

block js
  include partials/vendor_scripts
  script(src=path("js/logic.js"))
