{% extends "layout/base.html" %}

{% block content %}
  {% include "partials/fader.html" %}

  <div class="app" id="app">

    <div class="sidebar">
      <section class="section">
        <div class="container">
          {% include "partials/nav.html" %}
        </div>
      </section>
      <hr class="bottom">
      <file-list @ready="ready()" :socket="socket" ref="fileList"></file-list>
    </div> <!-- end #sidebar -->

    <!-- Log content -->
    <log-viewer ref="logViewer" :adapter="theAdapter" :entry="theEntry"></log-viewer>

  </div> <!-- end #app -->
{% endblock %}

{% block js %}
  {% include "partials/vendor_scripts.html" %}
  <script src="{{ path('js/logic.js') }}"></script>
{% endblock %}
