{% set page_title = "Account Overview" %}
{% set page_description = "View and edit your account details." %}

{% extends "layout/account.html" %}
{% import "../macros/form.html" as form with context %}

{% block page %}
  <div class="columns">
    <div class="column is-6-fullhd is-offset-3-fullhd is-8-widescreen is-offset-2-widescreen is-10-desktop is-offset-1-desktop is-12-tablet is-offset-0-tablet">

      {% if messages['info'] %}
        <div class="card mb-5">
          <header class="card-header">
            <p class="card-header-title">
              Info
            </p>
          </header>
          <div class="card-content">
            <ul>
              {% for msg in messages['info'] %}
                <li>{{ msg }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if messages['error'] %}
        <div class="card mb-5">
          <header class="card-header">
            <p class="card-header-title">
              Something went wrong!
            </p>
          </header>
          <div class="card-content">
            <ul>
              {% for msg in messages['error'] %}
                <li>{{ msg }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="card">
        <form action="{{ url('account/update') }}" method="post">
          <div class="card-content">

            <input type="hidden" name="id" value="{{ user.id }}">

            <!-- Username-->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Username</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <input class="input" type="text" value="{{ user.username }}" disabled>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  {{ form.error('username') }}
                </div>
              </div>
            </div>

            <!-- Email-->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <input class="input" type="email" name="email" value="{{ user.email }}">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  {{ form.error('email') }}
                </div>
              </div>
            </div>

            <!-- Role-->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Role</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <div class="select">
                      <select selected="{{ user.role }}" disabled>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                      </select>
                    </div>
                    <span class="icon is-small is-left">
                      <i class="fas fa-tag"></i>
                    </span>
                  </div> <!-- end .control -->
                </div> <!-- end .field -->
              </div> <!-- end .field-body -->
            </div>

            <hr>

            <!-- Change password-->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Change password</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <input class="input" type="password" name="password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                  {{ form.error('password') }}
                </div> <!-- end .field -->
              </div> <!-- end .field-body -->
            </div> <!-- end .field -->

          </div> <!-- end .card-content -->
          <footer class="card-footer">
            <button type="submit" class="card-footer-item">Save</button>
            <button type="reset" class="card-footer-item">Reset</button>
          </footer>
        </form>
      </div> <!-- end .card -->

    </div> <!-- end .column -->
  </div> <!-- end .columns -->
{% endblock %}
