.section
  padding: 1rem 1.5rem

.icon
  /* center icon
  display: flex
  justify-content: center
  align-items: center

.is-rounded
  padding-left: .75em !important
  padding-right: .75em !important

hr.bottom
  margin-top: 0


.blink
  animation: blink 1s cubic-bezier(.77,0,.18,1)

@keyframes blink
  0%
    background-color: transparent

  50%
    background-color: $blink_background

  100%
    background-color: transparent
