<img src="{{ path('img/header.png') }}">
<p class="welcome">
  Logged in as&nbsp;
  <u>{{ user.username }}</u>
</p>
<div class="buttons is-centered">
  <a class="button {{ 'is-link' if isPath('/') }}" href="{{ path() }}">Home</a>
  {% if user.role === 'admin' %}
    <a class="button {{ 'is-link' if isPath('/admin') }}" href="{{ path('admin') }}">Administration</a>
  {% endif %}
  <a class="button" href="{{ path('about') }}">About</a>
  <a class="button" href="{{ path('logout') }}">Logout</a>
</div>
