extends layout.pug

block content
  
  div.about
    
    a.back(href=url)
      i.fas.fa-arrow-left
      | &nbsp;Back
      
    h1 wog
      span.subtitle.is-3 v#{version}
    h3 A web interface for viewing logs.
    
    .links
      a(href="https://github.com/axelrindle/wog")
        i.fab.fa-github
