doctype html
html(lang="en")
  head
    // Meta Tags for more compability.
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
    meta(name="theme-color", content="#37385F")
    meta(name="description" content="wog. A web interface for viewing logs. See https://github.com/axelrindle/wog")
      
    // Favicon
    link(rel="icon" href="img/favicon.png")

    // Site title
    title #{title}

    // CSS files
    link(rel="stylesheet" href="css/style.min.css")
    link(rel="stylesheet" href="vendor/fontawesome-all.min.css")
    //link(rel="stylesheet" href="vendor/jquery.mCustomScrollbar.min.css")

  body
    
    // Page content
    block content

    // JS files
    block js
