extends layout.pug

block content
  // overlay
  div#fader
  
  // container
  div#app
  
    //sidebar
    div#sidebar
    
      // filter
      section.section
        .container
          p.title Search
          p.subtitle Find a logfile
          .field.has-addons
            .control
              input.input(type='text', placeholder='boot.log' v-model="filter")
            .control
              a(v-on:click="filter = ''").button.is-danger
                span.icon
                  i.fa-delete
      hr
      
      // file tree
      section.section
        .container
          p.title Logfiles
            a(v-on:click="refresh").button.is-primary.is-rounded.is-pulled-right
              span.icon
                i.fa-refresh

          p(v-if="filteredFiles.length === files.length").subtitle Loaded {{ files.length }} files
          p(v-else).subtitle Showing {{ filteredFiles.length }} / {{ files.length }} files
          hr
          ul#filelist
            li(v-for="file in filteredFiles")
              a(v-on:click="select(file.id)").button.is-link {{ file.path }}
    
    // content
    div#content
    
      // options card
      .card
        header.card-header
          p.card-header-title
            span(v-if="selected !== -1").subtitle.is-6 {{ files[selected].path }}&nbsp;&nbsp;|&nbsp;&nbsp;
            | Options
        .card-content
          .content
            .columns
              
              // head & tail
              //.column
                p.title.is-6 Head / Tail
                .field.has-addons
                  .control
                    span.select
                      select
                        option Head
                        option Tail
                  .control
                    input.input(type="number" min="0" value="10")
                  .control
                    label.checkbox
                      input(type="checkbox")
                      |  Apply
                
              // grep
              .column
                p.title.is-6 Grep
                .field.has-addons
                  .control
                    input.input(type="text", placeholder="Find matches in the log" v-model="grep")
                  .control
                    a(v-on:click="grep = ''").button.is-danger
                      span.icon
                        i.fa-delete
                          
              // actions
              //.column
                p.title.is-6 Actions
                a.button.is-primary Download
                a.button.is-info Refresh
                a.button.is-danger Delete
                
              // info
              .column
                p.title.is-6 Info
                ul(v-if="selected !== -1")
                  li(v-if="grep === ''") Lines: {{ lines.length }}
                  li(v-else) Lines: {{ grepped.split('\n').length }} / {{ lines.length }}
                  li Size: {{ files[selected].size }}
      
      // actual log content
      pre(v-if="error === ''")
        code {{ grepped }}
      pre.error(v-else)
        code {{ error }}

block js
  script(src="vendor/vue.min.js")
  script(src="vendor/axios.min.js")
  script(src="vendor/jquery-3.3.1.min.js")
  //script(src="vendor/jquery.mCustomScrollbar.concat.min.js")
  script(src="js/logic.js")
