extends layout.pug

block content
  // overlay
  div#fader
  
  // container
  div#app
  
    //sidebar
    div#sidebar
    
      // header
      section.section
        .container
          a(href="about/")
            img(src="img/header.png")
          
      hr.bottom
    
      // filter
      section.section
        .container
          include overview/sidebar_filter.pug
      
      hr
      
      // file tree
      section.section
        .container
          include overview/sidebar_file_tree.pug
    
    // content
    div#content
    
      // options card
      .card
        header.card-header
          p.card-header-title
            span(v-if="selected !== -1").subtitle.is-6 {{ files[selected].path }}&nbsp;&nbsp;|&nbsp;&nbsp;
            | Options
        .card-content
          .content
            .columns
                
              // grep / fuzzy search
              .column
                include overview/log_filter.pug
              
              // actions
              .column
                include overview/log_actions.pug
                
              // info
              .column
                include overview/log_info.pug
      
      // actual log content
      pre#logContent(v-if="error === ''")
        code {{ linesFiltered }}
      pre.error(v-else)
        code {{ error }}

    // Modals
    .modal#goToLineModal
      .modal-background
      .modal-card
        header.modal-card-head
          p.modal-card-title Go to line
          button.button.is-danger.is-rounded(@click="closeGoToLine") X
        
        section.modal-card-body
          .field
            label.label Enter the line number you want to jump to
            .control
              input.input(type='number', placeholder='Find a repository' min="1"
                          :max="filteredLinesAmount"
                          v-model="lineToGoTo")
            .span.has-text-danger(v-if="showGoToLineError()") Must no be bigger than {{ filteredLinesAmount }}!

        footer.modal-card-foot
          button.button.is-success(@click="goToLine" :disabled="showGoToLineError()") Go
          button.button(@click="closeGoToLine") Cancel



block js
  script(src="vendor/vue.min.js")
  script(src="vendor/axios.min.js")
  script(src="vendor/jquery-3.3.1.min.js")
  //script(src="vendor/jquery.mCustomScrollbar.concat.min.js")
  script(src="js/fuzzy.js")
  script(src="js/logic.js")
