extends layout.pug

block content
  // overlay
  div#fader
  
  // container
  div#app
  
    //sidebar
    div#sidebar
    
      // header
      section.section
        .container
          a(href="about/")
            img(src="img/header.png")
          
      hr.bottom
    
      // filter
      section.section
        .container
          include overview/sidebar_filter.pug
      
      hr
      
      // file tree
      section.section
        .container
          include overview/sidebar_file_tree.pug
    
    // content
    div#content
    
      // options card
      .card
        header.card-header
          p.card-header-title
            span(v-if="selected !== -1").subtitle.is-6 {{ files[selected].path }}&nbsp;&nbsp;|&nbsp;&nbsp;
            | Options
        .card-content
          .content
            .columns
              
              // head & tail
              //.column
                include overview/log_head_tail.pug
                
              // grep / fuzzy search
              .column
                include overview/log_grep_fuzzy.pug
              
              // actions
              .column
                include overview/log_actions.pug
                
              // info
              .column
                include overview/log_info.pug
      
      // TODO: Display line numbers
      // actual log content
      pre(v-if="error === ''")
        code {{ linesFiltered }}
      pre.error(v-else)
        code {{ error }}

block js
  script(src="vendor/vue.min.js")
  script(src="vendor/axios.min.js")
  script(src="vendor/jquery-3.3.1.min.js")
  //script(src="vendor/jquery.mCustomScrollbar.concat.min.js")
  script(src="js/fuzzy.js")
  script(src="js/logic.js")
