p.title.is-6 Actions
.field.is-grouped
  a(:href="downloadUrl").control.button.is-primary Download
  a(@click="reloadFile").control.button.is-info Refresh
  a(@click="openGoToLine").control.button.is-link Go to line
