// Mode selection
.select(style="margin-bottom: 6px;")
  select(v-model="filterMode")
    option(value="grep") Grep &amp; Fuzzy
    option(value="lines") Head &amp; Tail

// Grep & Fuzzy
.field.has-addons(v-if="filterMode === 'grep'")
  .control
    span.select
      select(v-model="grepMode")
        option(value="grep") Grep
        option(value="fuzzy") Fuzzy
  .control
    input.input(type="text", placeholder="Find matches in the log" v-model="grep")
  .control
    a(v-on:click="grep = ''").button.is-danger
      span.icon
        i.fas.fa-trash-alt

// Head & Tail
.field.has-addons(v-else)
  .control
    span.select
      select(v-model="lineMode")
        option(value="head") Head
        option(value="tail") Tail
  .control
    input.input(type="number" min="0" value="10" v-model="line")
  .control
    label.checkbox
      input(type="checkbox")
      |  Apply
