p.title.is-6 Head / Tail
.field.has-addons
  .control
    span.select
      select
        option Head
        option Tail
  .control
    input.input(type="number" min="0" value="10")
  .control
    label.checkbox
      input(type="checkbox")
      |  Apply
