p.title Logfiles
  a(v-on:click="refresh").button.is-primary.is-rounded.is-pulled-right
    span.icon
      i.fas.fa-sync-alt

p(v-if="filesFiltered.length === files.length").subtitle Loaded {{ files.length }} files
p(v-else).subtitle Showing {{ filesFiltered.length }} / {{ files.length }} files
hr
ul#filelist
  li(v-for="(file, index) in filesFiltered")
    a(v-on:click="select(index)" v-if="selected === index").button.is-link {{ file.path }}
    a(v-on:click="select(index)" v-else).button {{ file.path }}
