p.title Search
p.subtitle Find a logfile
.field.has-addons
  .control
    input.input(type='text', placeholder='boot.log' v-model="fileFilter")
  .control
    a.button.is-danger(@click="fileFilter = ''")
      span.icon
        i.fas.fa-trash-alt
