* {
  outline: none !important;
}

html, body, .app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: flex;
  flex-flow: row nowrap;
}

pre, pre code {
  font-family: 'Space Mono', monospace;
  font-size: 13px;
}

.fader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: $content_background;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  height: 100%;
  width: $sidebar_width;
  overflow-y: auto;
  border-right: 1px solid transparentize(#333, .75);
  background-color: $sidebar_background;
}

.content {
  height: 100%;
  flex: 1 0 auto;
  padding: $content_padding_vertical $content_padding_horizontal;
  background-color: $content_background;
  display: flex;
  flex-direction: column;

  &.log {
    max-width: calc(100% - #{$sidebar_width});
  }

  pre {
    height: 100%;
    overflow-y: auto;
    white-space: nowrap;
  }
}
