* {
  outline: none !important;
}

html, body, .app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-flow: row nowrap;
}

.fader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: $content_background;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.error-image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  img {
    width: 300px;
    margin-bottom: 16px;
  }
}
